In [ ]:
import pandas as pd

# 1. 아래와 같은 DataFrame을 생성하세요.
import pandas as pd

# 1. 아래와 같은 DataFrame을 생성하세요.
df = pd.DataFrame({
    "Name": ["Tom", "Jane", "Mike", "Sara", "John", "Emma"],
    "Age": [20, 22, 19, 21, 23, 20],
    "Score": [85, 92, 78, 88, 95, 70],
    "Grade": ["B", "A", "C", "B", "A", "C"]
})


# 2. 기본 정보 확인 -----------------------------------
# (1) DataFrame 전체 출력
print(df)

# (2) shape 출력
print(df.shape)

# (3) info() 출력
print(df.info())

# (4) describe() 출력
print(df.describe())


# 3. 열 선택 -----------------------------------
# (1) "Score" 열만 출력
print(df["Score"])

# (2) "Name"과 "Age" 열만 출력
print(df[["Name", "Age"]])


# 4. 행 선택 -----------------------------------
# (1) 첫 번째 행 출력 (iloc 사용)
print(df.iloc[0])

# (2) 마지막 행 출력 (iloc 사용)
print(df.iloc[-1])

# (3) index를 다음으로 변경
df.index = ["학생1", "학생2", "학생3", "학생4", "학생5", "학생6"]

# (4) "학생3" 행 출력 (loc 사용)
print(df.loc["학생3"])


# 5. 통계 계산 -----------------------------------
# (1) Score의 최대값
print("최대:", df["Score"].max())

# (2) Score의 최소값
print("최소:", df["Score"].min())

# (3) Score의 평균
print("평균:", df["Score"].mean())


# 6. 조건 선택 -----------------------------------
# (1) Score가 85 이상인 학생만 출력
print(df[df["Score"] >= 85])

# (2) Grade가 "A"인 학생만 출력
print(df[df["Grade"] == "A"])

# (3) Score가 평균보다 높은 학생만 출력
print(df[df["Score"] > df["Score"].mean()])


# 7. 일부만 보기 -----------------------------------
# (1) 상위 3개 출력
print(df.head(3))

# (2) 하위 2개 출력
print(df.tail(2))

   Name  Age  Score Grade
0   Tom   20     85     B
1  Jane   22     92     A
2  Mike   19     78     C
3  Sara   21     88     B
4  John   23     95     A
5  Emma   20     70     C
(6, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Age     6 non-null      int64
 2   Score   6 non-null      int64
 3   Grade   6 non-null      object
dtypes: int64(2), object(2)
memory usage: 324.0+ bytes
None
             Age      Score
count   6.000000   6.000000
mean   20.833333  84.666667
std     1.471960   9.287985
min    19.000000  70.000000
25%    20.000000  79.750000
50%    20.500000  86.500000
75%    21.750000  91.000000
max    23.000000  95.000000
0    85
1    92
2    78
3    88
4    95
5    70
Name: Score, dtype: int64
   Name  Age
0   Tom   20
1  Jane   22
2  Mike   19
3  Sara   21
4  John   23
5  Emma   20
Name     Tom
Age       20
Score     85
Grade      B
Name: 0, dtype: object
Name     Emma
Age        20
Score      70
Grade       C
Name: 5, dtype: object
index 변경 전
   Name  Age  Score Grade
0   Tom   20     85     B
1  Jane   22     92     A
2  Mike   19     78     C
3  Sara   21     88     B
4  John   23     95     A
5  Emma   20     70     C
index 변경 후
     Name  Age  Score Grade
학생1   Tom   20     85     B
학생2  Jane   22     92     A
학생3  Mike   19     78     C
학생4  Sara   21     88     B
학생5  John   23     95     A
학생6  Emma   20     70     C
Name     Mike
Age        19
Score      78
Grade       C
Name: 학생3, dtype: object
최대 : 95
최소 : 70
평균 : 84.66666666666667
     Name  Age  Score Grade
학생1   Tom   20     85     B
학생2  Jane   22     92     A
학생4  Sara   21     88     B
학생5  John   23     95     A
     Name  Age  Score Grade
학생2  Jane   22     92     A
학생5  John   23     95     A
     Name  Age  Score Grade
학생1   Tom   20     85     B
학생2  Jane   22     92     A
학생4  Sara   21     88     B
학생5  John   23     95     A
     Name  Age  Score Grade
학생1   Tom   20     85     B
학생2  Jane   22     92     A
학생3  Mike   19     78     C
     Name  Age  Score Grade
학생5  John   23     95     A
학생6  Emma   20     70     C